@import url('./_fonts.css');
@import url('./_reset.css');

/* style the header, body, main, and footer */
body {
  background-color: royalblue;
  color: floralwhite;
  width: 100%;
  min-width: 360px;

  font-family: Benne, 'Times New Roman', Times, serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
  width: clamp(360px, 80%, 1366px);
}

header {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  color: floralwhite;
  text-decoration: none;
}

/* other styling preferences */
hr {
  width: 100%;
}

input, button, select {
  border: 1px dotted floralwhite;
  background-color: royalblue;
  color: floralwhite;
  padding: 0.4rem;
  border-radius: 10px;
  outline: none;
}

button:active {
  background-color: floralwhite;
  color: royalblue;
}

button:hover {
  cursor: pointer;
  background-color: #fffaf0;
}
  
::placeholder {
  color: floralwhite;
}

/* define the heading styles */
h1 {
  font-size: 2rem;
  font-weight: 1000;
}

h2 {
  font-size: 1.8rem;
  font-weight: 900;
}

h3 {
  font-size: 1.6rem;
  font-weight: 800;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

h6 {
  font-size: 1.1rem;
  font-weight: 500;
}

/* commonly used classes */
.wrapper-h, .wrapper-v {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-h {
  flex-direction: row;
}

.wrapper-v {
  flex-direction: column;
}
