@import url('./_style.css');

form > label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.25rem;
}

form > label > span {
  padding: 0.25rem;
  display: flex;
  align-items: center;
}

form label > span {
  margin-right: 1rem;
}

form label > span::after {
  content: ':';
}

form > label *:last-child {
  width: 12rem;
}

form > button[type="submit"] {
  margin-top: 2rem;
  width: 100%;
  border: 2px dotted floralwhite;
}
